:root {
  --font-stack-serif: Constantia, "Lucida Bright", Lucidabright, Georgia,
      serif;
  --font-stack-sansserif: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-stack-general: var(--font-stack-sansserif);
  --font-stack-heading: var(--font-stack-general);
  --font-stack-monospace: Consolas, "Lucida Console", "Courier New", monospace;
  --font-size-base: 16px;
  --font-size-general: 1rem;
  --font-size-big: 1.067em;
  --font-size-xbig: 1.138rem;
  --font-size-xxbig: 1.215em;
  --font-size-small: 0.937em;
  --font-size-xsmall: 0.878em;
  --font-size-xxsmall: 0.823em;
  --font-size-h1: 2.488em;
  --font-size-h2: 2.074em;
  --font-size-h3: 1.728em;
  --font-size-h4: 1.44em;
  --font-size-h5: 1.2em;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-heading: var(--font-weight-bold);
  --line-height-general: 1.75;
  --line-height-big: 1.7;
  --line-height-xbig: 1.65;
  --line-height-xxbig: 1.6;
  --line-height-small: 1.8;
  --line-height-xsmall: 1.85;
  --line-height-xxsmall: 1.9;
  --line-height-h1: 1.15;
  --line-height-h2: 1.2;
  --line-height-h3: 1.275;
  --line-height-h4: 1.375;
  --line-height-h5: 1.5;
}

:root {
  --color-primary: #e0281f;
  --color-accent: #1fd7e0;
  --color-background: #fcfcfc;
  --color-contrast: #323232;
  --color-contrast-10: color-mix(
      in srgb,
      var(--color-contrast) 10%,
      var(--color-background)
  );
  --color-contrast-20: color-mix(
      in srgb,
      var(--color-contrast) 20%,
      var(--color-background)
  );
  --color-contrast-30: color-mix(
      in srgb,
      var(--color-contrast) 30%,
      var(--color-background)
  );
  --color-contrast-40: color-mix(
      in srgb,
      var(--color-contrast) 40%,
      var(--color-background)
  );
  --color-contrast-50: color-mix(
      in srgb,
      var(--color-contrast) 50%,
      var(--color-background)
  );
  --color-contrast-60: color-mix(
      in srgb,
      var(--color-contrast) 60%,
      var(--color-background)
  );
  --color-contrast-70: color-mix(
      in srgb,
      var(--color-contrast) 70%,
      var(--color-background)
  );
  --color-contrast-80: color-mix(
      in srgb,
      var(--color-contrast) 80%,
      var(--color-background)
  );
  --color-contrast-90: color-mix(
      in srgb,
      var(--color-contrast) 90%,
      var(--color-background)
  );
  --color-success: #27ae60;
  --color-alert: #c0392b;
  --color-warning: #f39c12;
  --color-highlight: #f1c40f;
}

[data-color-scheme=dark] {
  --color-primary: #e0281f;
  --color-accent: #1fd7e0;
  --color-background: #323232;
  --color-contrast: #fcfcfc;
  --color-contrast-10: color-mix(
      in srgb,
      var(--color-contrast) 10%,
      var(--color-background)
  );
  --color-contrast-20: color-mix(
      in srgb,
      var(--color-contrast) 20%,
      var(--color-background)
  );
  --color-contrast-30: color-mix(
      in srgb,
      var(--color-contrast) 30%,
      var(--color-background)
  );
  --color-contrast-40: color-mix(
      in srgb,
      var(--color-contrast) 40%,
      var(--color-background)
  );
  --color-contrast-50: color-mix(
      in srgb,
      var(--color-contrast) 50%,
      var(--color-background)
  );
  --color-contrast-60: color-mix(
      in srgb,
      var(--color-contrast) 60%,
      var(--color-background)
  );
  --color-contrast-70: color-mix(
      in srgb,
      var(--color-contrast) 70%,
      var(--color-background)
  );
  --color-contrast-80: color-mix(
      in srgb,
      var(--color-contrast) 80%,
      var(--color-background)
  );
  --color-contrast-90: color-mix(
      in srgb,
      var(--color-contrast) 90%,
      var(--color-background)
  );
  --color-success: #27ae60;
  --color-alert: #c0392b;
  --color-warning: #f39c12;
  --color-highlight: #f1c40f;
}

:root {
  --color-brand-dribbble: #ea4c89;
  --color-brand-facebook: #3b5998;
  --color-brand-flickr: #ff0084;
  --color-brand-instagram: #517fa4;
  --color-brand-linkedin: #0077b5;
  --color-brand-medium: #00ab6b;
  --color-brand-pinterest: #bd081c;
  --color-brand-rss: #f26522;
  --color-brand-tumblr: #35465c;
  --color-brand-twitter: #55acee;
  --color-brand-youtube: #b31217;
}

:root {
  --space: calc(var(--line-height-general) * 1rem);
  --space-top-h: calc(var(--space) * 1.5);
  --space-bottom-h: calc(var(--space) * 0.75);
  --relative-space: calc(var(--line-height-general) * 1em);
  --relative-space-top-h: calc(var(--relative-space) * 1.5);
  --relative-space-bottom-h: calc(var(--relative-space) * 0.75);
  --alley: var(--space);
  --relative-alley: var(--relative-space);
  --p-inline-t: 0.24em;
  --p-inline-r: 0.44em;
  --p-inline-b: 0.14em;
  --p-inline-l: 0.44em;
  --padding-inline: var(--p-inline-t) var(--p-inline-r) var(--p-inline-b)
      var(--p-inline-l);
  --p-box-t: calc(var(--space) * 0.5);
  --p-box-r: calc(var(--space) * 0.5);
  --p-box-b: calc(var(--space) * 0.5);
  --p-box-l: calc(var(--space) * 0.5);
  --padding-box: var(--p-box-t) var(--p-box-r) var(--p-box-b) var(--p-box-l);
  --p-message-t: calc(var(--space) * 0.5);
  --p-message-r: calc(var(--alley) * 0.5);
  --p-message-b: calc(var(--space) * 0.5);
  --p-message-l: calc(var(--alley) * 0.5);
  --padding-message: var(--p-message-t) var(--p-message-r) var(--p-message-b)
      var(--p-message-l);
  --p-table-t: calc(var(--space) * 0.375);
  --p-table-r: calc(var(--alley) * 0.375);
  --p-table-b: calc(var(--space) * 0.375);
  --p-table-l: 0;
  --padding-table: var(--p-table-t) var(--p-table-r) var(--p-table-b)
      var(--p-table-l);
  --p-input-t: calc(var(--space) * 0.25);
  --p-input-r: calc(var(--alley) * 0.5);
  --p-input-b: calc(var(--space) * 0.25);
  --p-input-l: calc(var(--alley) * 0.5);
  --padding-input: var(--p-input-t) var(--p-input-r) var(--p-input-b)
      var(--p-input-l);
  --border-size: 1px;
  --border-radius: 0.25em;
  --max-site-width: 1200px;
  --min-input-height: calc(
      var(--border-size) * 2 + var(--space) + var(--p-input-t) +
          var(--p-input-b)
  );
}

:root {
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --default-easing: var(--ease-in-out-expo);
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

html {
  overflow-y: scroll;
  font-size: var(--font-size-base);
  -ms-text-size-adjust: 100%;
}
html > div,
html > span {
  display: none;
}

body {
  margin: var(--space) var(--alley);
  background-color: var(--color-background);
  color: var(--color-contrast);
  word-wrap: break-word;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-stack-general);
  line-height: var(--line-height-general);
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-stack-heading);
}
h1 b,
h1 strong,
h2 b,
h2 strong,
h3 b,
h3 strong,
h4 b,
h4 strong,
h5 b,
h5 strong,
h6 b,
h6 strong {
  font-weight: var(--font-weight-heading);
}

p:empty {
  display: none;
}

table {
  position: relative;
  width: 100%;
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
}

caption {
  border-top: var(--border-size) solid var(--color-contrast-20);
  text-align: left;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
}

tr,
th,
td {
  text-align: left;
}

tr {
  position: relative;
  text-align: left;
  border-top: var(--border-size) solid var(--color-contrast-20);
  border-bottom: var(--border-size) solid var(--color-contrast-20);
}

thead,
tfoot,
th {
  font-weight: var(--font-weight-bold);
}

th,
td {
  padding: var(--padding-table);
}

ul {
  list-style: square;
}

ol {
  list-style: decimal;
}

ol,
ul {
  margin-left: calc(var(--alley) * 0.75);
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

dl dt {
  font-weight: var(--font-weight-bold);
}
dl dd {
  margin-left: calc(var(--alley) * 0.75);
}

hr {
  height: calc(var(--space) * 0.5);
  border: 0;
  background-color: var(--color-contrast-10);
}

q {
  quotes: none;
}

q:before,
q:after {
  content: none;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 200ms;
}
a:hover {
  color: inherit;
}

textarea {
  resize: none;
}

fieldset {
  border: 0;
}

iframe {
  display: block;
}

iframe,
figure {
  max-width: 100%;
}

figcaption {
  color: var(--color-contrast-50);
  text-align: center;
}

video {
  max-width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

img,
svg {
  vertical-align: top;
}

svg {
  fill: currentColor;
}

em,
dfn {
  font-style: italic;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

big {
  font-size: var(--font-size-big);
  vertical-align: top;
}

small {
  font-size: var(--font-size-small);
  vertical-align: top;
}

ins {
  text-decoration: none;
}

ins,
mark {
  padding: var(--padding-inline);
  background-color: var(--color-dark-accent);
  color: var(--color-background);
  border-radius: var(--p-inline-t);
}

code {
  padding: var(--padding-inline);
  background-color: var(--color-contrast-10);
  border-radius: var(--p-inline-t);
}

var {
  font-style: normal;
}

pre {
  padding: var(--padding-box);
  font-size: var(--font-size-small);
  font-family: var(--font-stack-monospace);
  overflow: auto;
  background-color: var(--color-contrast-10);
}
pre code {
  font-size: inherit;
}

blockquote {
  padding-left: calc(var(--alley) * 0.5);
  padding-right: calc(var(--alley) * 0.5);
  border-left: calc(var(--alley) * 0.25) solid var(--color-contrast);
}

code,
tt,
var,
kbd,
samp,
ins,
mark {
  font-size: var(--font-size-small);
  top: 0.15em;
  font-family: var(--font-stack-monospace);
  position: relative;
  vertical-align: top;
}

cite {
  font-weight: var(--font-weight-normal);
  font-style: italic;
  vertical-align: top;
  font-size: var(--font-size-small);
}

abbr,
acronym {
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: help;
}

del,
s,
strike {
  text-decoration: line-through;
}

sub {
  bottom: -0.375em;
}

sup {
  top: -0.25em;
}

sub,
sup {
  font-size: var(--font-size-xsmall);
  position: relative;
  vertical-align: top;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

::-webkit-search-cancel-button {
  display: none;
}

table.fixed {
  table-layout: fixed;
}

.clearfix:before, .clearfix:after {
  display: table;
  clear: both;
  width: 100%;
  content: "";
}

.table-container {
  margin-bottom: var(--space);
  overflow: auto;
}

.video-container {
  padding-bottom: 56.25%;
  position: relative;
  display: block;
  height: 0;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  word-wrap: normal;
  clip-path: inset(50%);
}

input[type=button],
input[type=submit],
input[type=reset],
button,
.button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  padding: var(--padding-input);
  min-height: var(--min-input-height);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-contrast);
  color: var(--color-background);
  cursor: pointer;
  transition: box-shadow 0.25s, color 0.25s;
  vertical-align: middle;
}
input[type=button][disabled],
input[type=submit][disabled],
input[type=reset][disabled],
button[disabled],
.button[disabled] {
  cursor: not-allowed;
  box-shadow: inset 0 0 0 100vh rgba(255, 255, 255, 0.375);
}
input[type=button] a,
input[type=submit] a,
input[type=reset] a,
button a,
.button a {
  display: inline-block;
  color: inherit;
}
input[type=button] a:hover,
input[type=submit] a:hover,
input[type=reset] a:hover,
button a:hover,
.button a:hover {
  color: inherit;
}

[role=button] {
  cursor: pointer;
}

input:not([type]), input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=file], input[type=number], input[type=range], input[type=search], input[type=tel], input[type=text], input[type=month], input[type=password], input[type=url], input[type=week] {
  padding: var(--padding-input);
  min-height: var(--min-input-height);
  border: var(--border-size) solid var(--color-contrast-20);
  border-radius: var(--border-radius);
  vertical-align: middle;
}

input[type=range] {
  margin: 0;
  min-height: var(--min-input-height);
}

input[type=radio],
input[type=checkbox] {
  margin: 0 calc(var(--alley) * 0.25) 0 0;
  vertical-align: -1px;
}

textarea {
  padding: var(--padding-input);
  min-height: var(--min-input-height);
  border: var(--border-size) solid var(--color-contrast-20);
  border-radius: var(--border-radius);
  vertical-align: middle;
}

select {
  padding: var(--padding-input);
  min-height: var(--min-input-height);
  border: var(--border-size) solid var(--color-contrast-20);
  border-radius: var(--border-radius);
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: calc(var(--p-input-r) * 2.5);
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: calc(100% - var(--p-input-r) * 0.25);
}

fieldset {
  padding: var(--space);
  border-radius: var(--border-radius);
  border: var(--border-size) solid var(--color-contrast-20);
}
fieldset legend {
  margin-left: calc(var(--alley) * -0.25);
  margin-bottom: calc(var(--space) * -0.25);
  padding: 0 calc(var(--alley) * 0.25);
  background-color: var(--color-background);
  text-transform: uppercase;
  font-size: var(--font-size-xsmall);
}

/*# sourceMappingURL=simpleton.css.map */
