@include vertical-margins();

table {
    &.fixed {
        table-layout: fixed;
    }
}

.clearfix {
    @include clearfix();
}

.table-container {
    margin-bottom: space();
    overflow-x: auto;
}

.video-container {
    @include video-container();
}

.screen-reader-text {
    @include screen-reader-only();
}
