@use '../core/funcs';
@use '../core/mixins';

@include mixins.vertical-margins();

table {
    &.fixed {
        table-layout: fixed;
    }
}

.clearfix {
    @include mixins.clearfix();
}

.table-container {
    margin-bottom: var(--space);
    overflow: auto;
}

.video-container {
    @include mixins.video-container();
}

.screen-reader-text {
    @include mixins.screen-reader-only();
}
