@use '../core/mixins' as *;

table {
    &.fixed {
        table-layout: fixed;
    }
}

.clearfix {
    @include clearfix();
}

.table-container {
    margin-bottom: var(--space);
    overflow: auto;
}

.video-container {
    @include video-container();
}

.screen-reader-text {
    @include screen-reader-only();
}
