@use '../core/mixins' as *;

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

html {
    overflow-y: scroll;
    font-size: var(--font-size-base);

    -ms-text-size-adjust: 100%;

    > {
        div,
        span {
            display: none;
        }
    }
}

body {
    margin: var(--space) var(--alley);
    background-color: var(--color-background);
    color: var(--color-contrast);
    word-wrap: break-word;
    font-weight: var(--font-weight-normal);
    font-family: var(--font-stack-general);
    line-height: var(--line-height-general);
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-heading);
    font-family: var(--font-stack-heading);

    b,
    strong {
        font-weight: var(--font-weight-heading);
    }
}

p {
    &:empty {
        display: none;
    }
}

table {
    position: relative;
    width: 100%;
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: left;
}

caption {
    border-top: var(--border-size) solid var(--color-contrast-20);
    text-align: left;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
}

tr,
th,
td {
    text-align: left;
}

tr {
    position: relative;
    text-align: left;
    border-top: var(--border-size) solid var(--color-contrast-20);
    border-bottom: var(--border-size) solid var(--color-contrast-20);
}

thead,
tfoot,
th {
    font-weight: var(--font-weight-bold);
}

th,
td {
    padding: var(--padding-table);
}

ul {
    list-style: square;
}

ol {
    list-style: decimal;
}

ol,
ul {
    margin-left: calc(var(--alley) * 0.75);

    ol,
    ul {
        margin-bottom: 0;
    }
}

dl {
    dt {
        font-weight: var(--font-weight-bold);
    }

    dd {
        margin-left: calc(var(--alley) * 0.75);
    }
}

hr {
    height: calc(var(--space) * 0.5);
    border: 0;
    background-color: var(--color-contrast-10);
}

q {
    quotes: none;
}

q:before,
q:after {
    content: none;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    transition: color 200ms;

    &:hover {
        color: inherit;
    }
}

textarea {
    resize: none;
}

// TODO: Delete?
// button {
//     overflow: visible;
// }

fieldset {
    border: 0;
}

iframe {
    display: block;
}

iframe,
figure {
    max-width: 100%;
}

figcaption {
    color: var(--color-contrast-50);
    text-align: center;
}

video {
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

img,
svg {
    vertical-align: top;
}

svg {
    fill: currentColor;
}

em,
dfn {
    font-style: italic;
}

b,
strong {
    font-weight: var(--font-weight-bold);
}

big {
    font-size: var(--font-size-big);
    vertical-align: top;
}

small {
    font-size: var(--font-size-small);
    vertical-align: top;
}

ins {
    text-decoration: none;
}

ins,
mark {
    padding: var(--padding-inline);
    background-color: var(--color-dark-accent);
    color: var(--color-background);
    border-radius: var(--p-inline-t);
}

code {
    padding: var(--padding-inline);
    background-color: var(--color-contrast-10);
    border-radius: var(--p-inline-t);
}

var {
    font-style: normal;
}

pre {
    padding: var(--padding-box);
    font-size: var(--font-size-small);
    font-family: var(--font-stack-monospace);
    overflow: auto;
    background-color: var(--color-contrast-10);

    code {
        font-size: inherit;
    }
}

blockquote {
    padding-left: calc(var(--alley) * 0.5);
    padding-right: calc(var(--alley) * 0.5);
    border-left: calc(var(--alley) * 0.25) solid var(--color-contrast);
}

code,
tt,
var,
kbd,
samp,
ins,
mark {
    font-size: var(--font-size-small);
    top: 0.15em;
    font-family: var(--font-stack-monospace);
    position: relative;
    vertical-align: top;
}

cite {
    font-weight: var(--font-weight-normal);
    font-style: italic;
    vertical-align: top;
    font-size: var(--font-size-small);
}

abbr,
acronym {
    border-bottom: 1px dotted;
    text-decoration: none;
    cursor: help;
}

del,
s,
strike {
    text-decoration: line-through;
}

sub {
    bottom: -0.375em;
}

sup {
    top: -0.25em;
}

sub,
sup {
    font-size: var(--font-size-xsmall);
    position: relative;
    vertical-align: top;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

::-webkit-search-cancel-button {
    display: none;
}
